
body {
    margin: 0;
}

.container {
    margin: 10px;
}

.text-wrapper {
    height: 500px;
    display: flex;
    align-items: center;
    background-color: darkslateblue;
    color: white;
    font-size: 20px;
    padding: 40px;
    margin: 20px 40px;
}

.text {
    /* text-align: center; */
    
    /* width: 200px;
    margin-left: auto;
    margin-right: auto; */
}

.block {
    width: 100px;
    height: 100px;
    background-color: red;
    /* margin-left: auto;
    margin-right: auto; */
}